<div class="fields">
  <%= f.label :name, "Task" %>
  <%= f.text_field :name %>
  <%= remove_child_link "remove", f %>
  <div class="children_fields">
    <% f.fields_for :assignments do |assignment_form| %>
      <%= render :partial => 'assignment', :locals => { :f => assignment_form } %>
    <% end %>
    <p><%= add_child_link "New Assignment", f, :assignments %></p>
  </div>
</div>
