<% form_for @project do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <h3>Tasks</h3>
  <div id="tasks">
  <% f.fields_for :tasks do |task_form| %>
    <%= render :partial => 'task', :locals => { :f => task_form } %>
  <% end %>
  </div>
  <p><%= add_task_link "New Task", f %></p>
  <p><%= f.submit "Submit" %></p>
<% end %>
