<div class="task">
<% fields_for 'project[tasks]', task, :index => '' do |f| -%>
  <%= error_messages_for :task, :object => task %>
  <%= f.hidden_field :id unless task.new_record? %>
  <p>
    <%= f.label :name, "Task:" %>
    <%= f.text_field :name %>
    <%= link_to_function "remove", "$(this).up('.task').remove()" %>
  </p>
<% end -%>
</div>
